html {
	font-size: 100%;
}

body {
	font-size: 1em;
	line-height: 1em;
	color: #4b8eb4;
}

img {
	border: none;
	max-width: 100%;
	height: auto;
}

b {
	font-family: Verdana, sans-serif;
	font-weight: bold;
}

p {
	font-size: 0.875em;
	line-height: 1.4em;
	text-align: left;
	font-family: Verdana, sans-serif;
	font-weight: normal;
	margin: 0px 0px 15px 0px;
}

a:link, a:visited
{
	text-decoration: underline;
	color: #4b8eb4;
}

a:hover, a:active, a:focus {
	outline: none;
}

h1 {
	font-family: "chatype_boldbold";
	line-height: 1.25em;
	font-size: 2.25em;
	margin: 0px 0px 15px 0px;
}

h2 {
	font-family: "chatype_boldbold";
	line-height: 1em;
	font-size: 1.2em;
	margin: 40px 0px 20px 0px;
}

h2:first-child {
	margin-top:0;
}

h3 {
	font-family: "chatype_boldbold";
	margin: 40px 0px 5px 0px;
	font-size: 1em;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.uppercase {
	text-transform: uppercase;
}

.green
{
	background-color: #53b37e;
}

.red
{
	background-color: #e65027;
}

.yellow
{
	background-color: #ffdc95;
}

.contentpage ul, .contentpage ol, .contentpage dl
{
	padding: 0px 0px 0px 30px;
	margin: 0px 0px 15px 0px;
	overflow: hidden;
}

.menubox, ul.menubox, ol.menubox, div.toc, div.book div.toc
{
	background-color: rgba(75,142,180,0.2);
	width: 60%;
	border: 1px dashed #1d394a;
	padding: 20px 20px 20px 40px !important;
	color: #1d394a;
}

div.toc, div.book div.toc
{
	padding-left: 20px !important;
}

	.contentpage ul > li,
	.contentpage ol > li
	{
		list-style: disc;
		font-size: 0.875em;
		padding: 0px 0px 5px 0px;
	}

	.contentpage ol > li
	{
		list-style: upper-latin;
	}

		.contentpage ul > li > ul,
		.contentpage ol > li > ol
		{
			padding: 5px 0px 0px 30px;
			margin: 0px 0px 0px 0px;
		}

			.contentpage ul > li > ul > li,
			.contentpage ol > li > ol > li
			{
				list-style: circle;
				font-size: 1em;
			}

			.contentpage ol > li > ol > li
			{
				list-style: lower-alpha;
			}

	li:last-child
	{
		padding: 0px;
	}

.contentpage dt
{
	font-size: 0.875em;
}

div.toc dl, div.toc dl dd {
	padding: 0;
	margin-inline-start: 0px;
}

div.toc dl dd {
	margin-inline-start: 20px;
}

div.toc > dl:last-child, div.toc dl > dd:last-child > dl:last-child
{
	margin-bottom: 0;
}

div.toc b {
	font-size: 100%;
}

.image_left
{
	float: left;
	margin: 0px 15px 10px 0px;
}

.image_right
{
	float: right;
	margin: 0px 0px 10px 15px;
}

/*******************************************************************/

#container_headline
{
	position: relative;
	width: 100%;
	padding-left:20px;
}

	#wrap_headline
	{
		background: white url("../images/logo.png") 0px 20px no-repeat;
		background-image: none,url("../images/logo.svgz"); /* HACK to make IE7 and 8 work */
		background-size: 300px 52px;
		display:block;
		width:100%;
		max-width: 1280px;
		min-height: 95px;
		margin-left:auto;
		margin-right:auto;
	}

		#link_logo,#link_logo:link
		{
			position: absolute;
			width: 300px;
			height: 52px;
			top: 20px;
			display: block;
			outline: none;
			text-decoration: none;
		}

		#menu
		{
			position: relative;
			height: 30px;
			top: 40px;
			margin-left: 454px;
			line-height:normal;
		}

			.menu_item
			{
				list-style: none;
				float: left;
				margin: 0px 40px 0px 0px;
				font-family: "chatype_boldbold";
			}

			.menu_item:last-child
			{
				margin: 0px;
			}

				.menu_link:link, .menu_link:visited
				{
					color: #1d394a;
					text-decoration: none;
					padding:  0px 0px 6px 0px;
				}

				.menu_link:hover, .menu_link:active, .menu_link:focus
				{
					border-bottom: 3px solid #1d394a;
				}

				.menu_active:link
				{
					color: #1d394a;
					text-decoration: none;
					padding:  0px 0px 6px 0px;
					border-bottom: 3px solid #1d394a;
				}

				.menu_item .sub {
					color: #1d394a !important;
					text-decoration: none !important;
					border-bottom: none !important;
					padding-bottom:10px;
				}
				.menu_item .sub.menu_active {
					color: #4b8eb4 !important;
				}

.breadcrumbs, .breadcrumbs a {
	color:white;
	line-height: normal;
	padding-top:3px;
	padding-bottom:6px;
}

#container_hero
{
	position: relative;
	background-color: #4b8eb4;
	width: 100%;
	padding-left: 20px;
}

	#wrap_hero
	{
		background: url("../images/hero.png") 456px 0px no-repeat;
		background-image: none,url("../images/hero.svgz"); /* HACK to make IE7 and 8 work */
		background-size: auto 339px;
		max-width: 1280px;
		padding-top: 5px;
		margin-left: auto;
		margin-right: auto;
		overflow: auto;
	}

		#slogan_wrap
		{
			background-color: white;
			width: 430px;
			margin: 30px 0px 10px 0px;
			padding: 10px 0px 10px 0px;color: #4b8eb4;
			line-height: 1.2em;
			font-size: 2.6em;
			font-family: "chatype_boldbold";
			padding: 8px 12px 8px 12px;
		}

		.text_hero
		{
			color: white;
			max-width:430px;
			padding-right:20px;
			margin: 0px 0px 15px 10px;
		}

		.link_hero:link, .link_hero:visited
		{
			color: white;
			font-weight: bold;
			text-decoration: underline;
		}

		.link_hero:hover, .link_hero:active, .link_hero:focus
		{
			font-weight: bold;
		}

		#button_download, #button_download:link
		{
			position: relative;
			background-color: white;
			width: 225px;
			height: 60px;
			padding: 22px 0 0 0;
			display: block;
			font-size: 1.375em;
			font-family: "chatype_boldbold";
			text-decoration: none;
			margin-top:25px;
			margin-bottom:18px;
			text-align:center;
		}
		#button_download:hover
		{
			border-color: grey;
			border: 1px solid;
		}
		#button_download > span {
			margin-right: 10px;
		}

		.text_hero_right
		{
			position: absolute;
			bottom: 10px;
			left: 298px;
			color: white;
			text-align: right;
		}

.container_grey,
.container_white,
.container_seperator
{
	background-color: #f6f6f6;
	width: 100%;
	clear:both;
}

.container_white
{
	background-color: white;
	padding: 30px 0px 30px 0px;
}

.container_seperator ~ .container_white {
	padding-top:0;
}

.container_seperator
{
	background-color: #4b8eb4;
	width: 100%;
}

html, body {
height: 100%;
}
#wrapper {
position: relative;
min-height: 100%;
}

#space { /* HACK */
	min-height:77px;
}

.container_grey + #space { /* HACK */
	background-image: -webkit-linear-gradient(#f6f6f6 0%, white 100%);
	background-image: linear-gradient(#f6f6f6 0%, white 100%);
}

#container_footer
{
	background-color: #1d394a;
	width: 100%;
	padding: 30px 0px 15px 0px;
	overflow:hidden;
	bottom:0;
	position:absolute;
}

	.wrap_content
	{
		position: relative;
		max-width: 1280px;
		top: 0px;
		margin-left:auto;
		padding-left:20px;
		padding-right:20px;
		margin-right:auto;
		overflow: auto;
	}
	.contentpage {
		padding-top: 15px;
		padding-bottom: 15px;
		max-width:1024px;
	}
		.content_left
		{
			width: calc(50% - 31px);
			border-right: 1px dashed #4b8eb4;
			float: left;
			padding: 30px 30px 30px 0px;
		}

		.content_right
		{
			width: calc(50% - 30px);
			min-height: 100px;
			margin: 0px 0px 0px 50%;
			padding: 30px 0px 30px 30px;
		}

			.bulletlist
			{
				padding: 0px;
			}

				.bulletitem
				{
					list-style: outside none url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTJweCcgaGVpZ2h0PScxMnB4JyB2aWV3Qm94PScwIC0xMDAgMTc5MiAxNzkyJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxwYXRoIGZpbGw9JyM0YjhlYjQnIGQ9J004NDUgMTM5NWw0NTQtNDU0cTE5LTE5IDE5LTQ1dC0xOS00NWwtNDU0LTQ1NHEtMTktMTktNDUtMTl0LTQ1IDE5bC0xMDIgMTAycS0xOSAxOS0xOSA0NXQxOSA0NWwzMDcgMzA3LTMwNyAzMDdxLTE5IDE5LTE5IDQ1dDE5IDQ1bDEwMiAxMDJxMTkgMTkgNDUgMTl0NDUtMTl6bTgxOS00OTlxMCAyMDktMTAzIDM4NS41dC0yNzkuNSAyNzkuNS0zODUuNSAxMDMtMzg1LjUtMTAzLTI3OS41LTI3OS41LTEwMy0zODUuNSAxMDMtMzg1LjUgMjc5LjUtMjc5LjUgMzg1LjUtMTAzIDM4NS41IDEwMyAyNzkuNSAyNzkuNSAxMDMgMzg1LjV6Jy8+PC9zdmc+");
					margin-left: 20px;
					font-size: 0.875em;
					padding: 0 0 20px 0;
				}

				.bulletitem:last-child
				{
					padding: 0;
				}

			.boxlist
			{
				overflow: hidden;
				padding: 0;

			}

				.boxlist li
				{
					list-style: none;
					position: relative;
					background-color: #f6f6f6;
					width: 380px;
					height: 186px;
					margin: 0px 40px 25px 0px;
					float: left;
				}

				.boxlist li:last-child
				{
					margin: 0px;
					margin-bottom:30px;
				}

					.fa_circle
					{
						width: 125px;
						height: 125px;
						border-radius: 125px;
						fill: white;
						text-align: center;
						padding: 30px 0;
						margin: 30px 0px 0px 30px;
						display: block;
					}

					.boxlist li > h2
					{
						position: absolute;
						top: 30px;
						left: 180px;
						margin: 0px;
						padding: 0px 30px 0px 0px;
						z-index: 1;
					}

					.boxlist li > p
					{
						position: absolute;
						top: 60px;
						left: 180px;
						padding: 0px 30px 0px 0px;
						z-index: 1;
					}

					.boxlist li > a:link, .boxitem > a:visited
					{
						position: absolute;
						width: 380px;
						height: 186px;
						top: 0px;
						left: 0px;
						display: block;
						-webkit-transition: background 0.3s ease-out 0s;
						transition: background 0.3s ease-out 0s;
						z-index: 2;
					}

					.boxlist li > a:hover, .boxitem > a:active, .boxitem > a:focus
					{
						outline: none;
						background-color: rgba(0,0,0,0.1);
					}

		.copyright
		{
			font-size: 0.75em;
		}

#menu ul {
	position: absolute;
	padding-top:15px;
	top: 25px;
	width:90px;

	opacity: 0;
	background: white;

	-webkit-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
	z-index:9999;
}

#menu li:hover > ul {
	opacity: 1;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#menu ul li {
	height: 0;
	overflow: hidden;
	padding: 0;
	margin-left:5px;
	margin-right:5px;

	-webkit-transition: height .25s ease .1s;
	transition: height .25s ease .1s;
}

#menu li:hover > ul li {
	height: 36px;
	overflow: visible;
	padding: 0;
}

@media screen {
	a[target="_blank"] {
		padding-right: 15px;
		background: transparent url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTNweCcgaGVpZ2h0PScxM3B4JyB2aWV3Qm94PScwIDAgMTc5MiAxNzkyJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxwYXRoIGZpbGw9JyM0YjhlYjQnIGQ9J00xNDA4IDkyOHYzMjBxMCAxMTktODQuNSAyMDMuNXQtMjAzLjUgODQuNWgtODMycS0xMTkgMC0yMDMuNS04NC41dC04NC41LTIwMy41di04MzJxMC0xMTkgODQuNS0yMDMuNXQyMDMuNS04NC41aDcwNHExNCAwIDIzIDl0OSAyM3Y2NHEwIDE0LTkgMjN0LTIzIDloLTcwNHEtNjYgMC0xMTMgNDd0LTQ3IDExM3Y4MzJxMCA2NiA0NyAxMTN0MTEzIDQ3aDgzMnE2NiAwIDExMy00N3Q0Ny0xMTN2LTMyMHEwLTE0IDktMjN0MjMtOWg2NHExNCAwIDIzIDl0OSAyM3ptMzg0LTg2NHY1MTJxMCAyNi0xOSA0NXQtNDUgMTktNDUtMTlsLTE3Ni0xNzYtNjUyIDY1MnEtMTAgMTAtMjMgMTB0LTIzLTEwbC0xMTQtMTE0cS0xMC0xMC0xMC0yM3QxMC0yM2w2NTItNjUyLTE3Ni0xNzZxLTE5LTE5LTE5LTQ1dDE5LTQ1IDQ1LTE5aDUxMnEyNiAwIDQ1IDE5dDE5IDQ1eicvPjwvc3ZnPg==") center right no-repeat;
	}
}

@media print {
	body, .breadcrumbs, .breadcrumbs a {
		color: black;
	}

	.wrap_content,#wrap_headline,.contentpage,.container_grey,#wrapper,.container_headline,#container_headline,.container_white {
		margin-left: 0;
		margin-right: 0;
		overflow: normal;
	}

	.container_grey, #space, .container_seperator, .toc {
		background-image: none !important;
		background-color: white !important;
	}

	#menu,#container_footer,.navheader,.navfooter {
		display:none;
	}
}

table.downloadtable td {
	border: 1px solid #ccc; padding: 5px;
}

#menutoggle {
	display: none;
	position: absolute;
	top: 1.2em;
	right: 50px;
}

#nav-trigger {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

@media only screen and (min-width: 916px) {
	#menu li > ul {
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
	}
}

@media only screen and (max-width: 915px) {
	#menu {
		display: none;
		position: relative;
		width: 100%;
		margin:0;
		height:auto;
		top:auto;
		background-color:grey;
	}
	#menutoggle svg {
		fill: #1d394a;
		border: 2px solid #1d394a;
		padding:6px;
	}
	#menutoggle, #menutoggle label, #nav-trigger:checked + #menu {
		display:block;
	}

	#container_headline {
		padding-left:0;
	}

	#spacehack {
		height:95px;
	}

	#menu ul li, #menu li:hover > ul li {
		padding-left: 15px;
		padding-right: 15px;
		margin:0;
		height:auto;
	}

	#menu a {
		display: block;
		width: 100%;
		color:white;
		background-color: #555;
		border-top: 1px solid #777;
		text-shadow: 1px 1px 1px #333;
		text-decoration:none;
		padding: 10px 0px;
		padding-left:10px;
		border-bottom: 1px solid #333;
	}

	#menu a.menu_active {
		text-decoration:underline;
	}

	#menu .sub {
		display: none;
	}

	#menu ul li:first-child {
		display:none;
	}

	.menu_item
	{
		width:100%;
		float: none;
		margin:0;
		line-height:initial;
	}

#menu ul {
	position: relative;
	top: auto;
	width:100%;

	opacity: 1;
	background: none;
	padding-top:0;
}

#menu li:hover ul {
	border: none;
}

	#wrap_headline {
		background: white url("../images/logo.svgz") 20px 20px no-repeat;
		background-size: 300px 52px;
	}

	#link_logo,#link_logo:link {
		left:20px;
	}

	.wrap_content {
		height: auto;
		width:auto;
		display:block;
	}

	.content_left {
		float: none;
		border-right: none;
		width:auto;
		display:block;
		border-bottom: 1px dashed #4b8eb4;
	}

	.content_right {
		margin:0;
		margin-top:25px;
		padding:0;
		width:auto;
		display:block;
		padding-bottom: 30px;
	}
}

@media only screen and (max-width: 490px) {
	#slogan_wrap {
		font-size: 1.6em;
	}

	.fa_circle
	{
		width: 80px;
		height: 80px;
		border-radius:80px;
		padding: 15px 0px 0px 0px;
	}
	.fa_circle svg
	{
		width: 3em;
		height: 3em;
	}

	.boxlist li > h2
	{
		left: 130px;
	}

	.boxlist li > p
	{
		left: 130px;
	}

	#link_logo,#link_logo:link {
		left:20px;
		width:94px;
	}

	#wrap_headline {
		background: white url("../images/logo_only.svgz") 20px 20px no-repeat;
		background-size: 97px 52px;
	}
}

@media only screen and (max-width: 600px) {
	#wrap_hero {
		background: none;
	}
	#slogan_wrap {
		width:95%;
		text-align: center;
	}
	#button_download,#button_download:link {
		text-align: center;
		width:95%;
	}
}

@media only screen and (max-width: 1280px) {
	.boxlist li, .boxlist li > a:link, .boxitem > a:visited {
		width:100%
	}
}

.dl {
	padding-left: 20px;
	background: transparent url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTdweCcgaGVpZ2h0PScxN3B4JyB2aWV3Qm94PScwIDAgMTc5MiAxNzkyJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxwYXRoIGZpbGw9JyM0YjhlYjQnIGQ9J00xMzQ0IDEzNDRxMC0yNi0xOS00NXQtNDUtMTktNDUgMTktMTkgNDUgMTkgNDUgNDUgMTkgNDUtMTkgMTktNDV6bTI1NiAwcTAtMjYtMTktNDV0LTQ1LTE5LTQ1IDE5LTE5IDQ1IDE5IDQ1IDQ1IDE5IDQ1LTE5IDE5LTQ1em0xMjgtMjI0djMyMHEwIDQwLTI4IDY4dC02OCAyOGgtMTQ3MnEtNDAgMC02OC0yOHQtMjgtNjh2LTMyMHEwLTQwIDI4LTY4dDY4LTI4aDQ2NWwxMzUgMTM2cTU4IDU2IDEzNiA1NnQxMzYtNTZsMTM2LTEzNmg0NjRxNDAgMCA2OCAyOHQyOCA2OHptLTMyNS01NjlxMTcgNDEtMTQgNzBsLTQ0OCA0NDhxLTE4IDE5LTQ1IDE5dC00NS0xOWwtNDQ4LTQ0OHEtMzEtMjktMTQtNzAgMTctMzkgNTktMzloMjU2di00NDhxMC0yNiAxOS00NXQ0NS0xOWgyNTZxMjYgMCA0NSAxOXQxOSA0NXY0NDhoMjU2cTQyIDAgNTkgMzl6Jy8+PC9zdmc+") center left no-repeat;
}
