---
layout: download-head
---
<p><span class="diricon diricon-up"></span> <a href="../">Parent Directory</a></p>

<p><strong>
<!--! nopreview-begin -->
<font color=red><svg width=".9em" height=".9em" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M1152 1376v-160q0-14-9-23t-23-9h-96v-512q0-14-9-23t-23-9h-320q-14 0-23 9t-9 23v160q0 14 9 23t23 9h96v320h-96q-14 0-23 9t-9 23v160q0 14 9 23t23 9h448q14 0 23-9t9-23zm-128-896v-160q0-14-9-23t-23-9h-192q-14 0-23 9t-9 23v160q0 14 9 23t23 9h192q14 0 23-9t9-23zm640 416q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/></svg> Currently there is no preview release which is newer than the latest stable release.</font><br>
<!--! nopreview-end -->
The current stable version is: <b><a href="/tgit/{{site.version.long}}/">{{site.version.short}}</a></b></strong></p>

<pre>
Here you can find our preview releases which are built from the latest code that represents 
the cutting edge of the TortoiseGit development. These versions are used by the TortoiseGit
developers for their daily work (in the past these also were of good quality). Preview releases
are provided on an irregular basis, however, without translations.
</pre>

<!--! downloadinfo-begin -->
<p>Right now, there are no preview releases available for download.</p>
<!--! downloadinfo-end -->

<pre>
Preview releases also use the automatic update checker to retrieve new preview and stable
releases. However, if you upgraded to a new stable version you won't be notified for new
preview releases. This default can be changed by setting <i>VersionCheckPreview</i> to <i>true</i> in
TortoiseGit advanced settings.
</pre>

<!--! filelist-begin -->
<!--! filelist-end -->
