---
layout: main
---
		<div id="container_hero">
			<div id="wrap_hero">
				<div id="slogan_wrap">
					The Power of Git –<br>in a Windows Shell
				</div>

				<p class="text_hero">TortoiseGit provides overlay icons showing the file status, a powerful context menu for Git and much more!</p>
				<p class="text_hero">Learn more <a href="/about/" class="link_hero">about TortoiseGit</a>.</p>

				<a href="/download/" id="button_download"><span class="dl"></span> Download</a>
			</div>
		</div>

		<div class="container_grey">
			<div class="wrap_content">
				<div class="content_left">
					<h1>News</h1>
					<ul class="bulletlist">
						<li class="bulletitem"><b>2016-10-01</b> <span class="pipe">|</span> Released TortoiseGit 2.3.0</li>
						<li class="bulletitem"><b>2016-07-02</b> <span class="pipe">|</span> Released TortoiseGit 2.2.0</li>
						<li class="bulletitem"><b>2016-03-26</b> <span class="pipe">|</span> Released TortoiseGit 2.1.0</li>
					</ul>
				</div>

				<div class="content_right">
					<h1>Releases <svg width='.8em' height='.8em' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path style='fill:currentColor;' d='M1764 11q33 24 27 64l-256 1536q-5 29-32 45-14 8-31 8-11 0-24-5l-453-185-242 295q-18 23-49 23-13 0-22-4-19-7-30.5-23.5t-11.5-36.5v-349l864-1059-1069 925-395-162q-37-14-40-55-2-40 32-59l1664-960q15-9 32-9 20 0 36 11z'/></svg></h1>
					<ul class="bulletlist">
						<li class="bulletitem"><b><a href="/download/">Stable: {{site.version.short}}</a></b> <span class="pipe">|</span> Released on {{site.version.releasedate | date:'%F'}}</li>
						<!--! preview-begin --><!--! preview-end -->
						<!-- For very old updaters (works because GoogleCode redirects to here): --><!--! TortoiseGit-{{site.version.long}}-, tortoisegit-{{site.version.long}}- -->
					</ul>
				</div>
			</div>
		</div>

		<div class="container_white" style="padding-bottom:0">
			<div class="wrap_content">
				<ul class="boxlist">
					<li>
						<div class="fa_circle green"><svg width="4em" height="4em" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1344 1344q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm256 0q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm128-224v320q0 40-28 68t-68 28h-1472q-40 0-68-28t-28-68v-320q0-40 28-68t68-28h465l135 136q58 56 136 56t136-56l136-136h464q40 0 68 28t28 68zm-325-569q17 41-14 70l-448 448q-18 19-45 19t-45-19l-448-448q-31-29-14-70 17-39 59-39h256v-448q0-26 19-45t45-19h256q26 0 45 19t19 45v448h256q42 0 59 39z"/></svg></div>
						<h2>Download</h2>
						<p>Here you find the TortoiseGit installer and language packs.</p>
						<a href="/download/"></a>
					</li>

					<li>
						<div class="fa_circle red"><svg width="4em" height="4em" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1344 1024q133 0 226.5 93.5t93.5 226.5-93.5 226.5-226.5 93.5-226.5-93.5-93.5-226.5q0-12 2-34l-360-180q-92 86-218 86-133 0-226.5-93.5t-93.5-226.5 93.5-226.5 226.5-93.5q126 0 218 86l360-180q-2-22-2-34 0-133 93.5-226.5t226.5-93.5 226.5 93.5 93.5 226.5-93.5 226.5-226.5 93.5q-126 0-218-86l-360 180q2 22 2 34t-2 34l360 180q92-86 218-86z"/></svg></div>
						<h2>Contribute</h2>
						<p>TortoiseGit is open source and needs your help!<br>Get involved!</p>
						<a href="/contribute/"></a>
					</li>

					<li>
						<div class="fa_circle yellow"><svg width="4em" height="4em" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1408 768q0 139-94 257t-256.5 186.5-353.5 68.5q-86 0-176-16-124 88-278 128-36 9-86 16h-3q-11 0-20.5-8t-11.5-21q-1-3-1-6.5t.5-6.5 2-6l2.5-5 3.5-5.5 4-5 4.5-5 4-4.5q5-6 23-25t26-29.5 22.5-29 25-38.5 20.5-44q-124-72-195-177t-71-224q0-139 94-257t256.5-186.5 353.5-68.5 353.5 68.5 256.5 186.5 94 257zm384 256q0 120-71 224.5t-195 176.5q10 24 20.5 44t25 38.5 22.5 29 26 29.5 23 25q1 1 4 4.5t4.5 5 4 5 3.5 5.5l2.5 5 2 6 .5 6.5-1 6.5q-3 14-13 22t-22 7q-50-7-86-16-154-40-278-128-90 16-176 16-271 0-472-132 58 4 88 4 161 0 309-45t264-129q125-92 192-212t67-254q0-77-23-152 129 71 204 178t75 230z"/></svg></div>
						<h2>Support</h2>
						<p>Manuals, FAQ, bug reporting, mailing list, and more&hellip;</p>
						<a href="/support/"></a>
					</li>
				</ul>
			</div>
		</div>
